/vendor
/node_modules
/.env
/.env.*
.phpunit.result.cache
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
.vscode/
.idea/
Thumbs.db
Desktop.ini
*.zip

